

.p_colonne_droite{
    background-color: rgb(138, 198, 226)
}

#sectionTitreAuto {
    text-align: center;
}

#sectionTitreExpe {
    text-align: center;
}

ul svg , ul img {
    height: 30px ;
    width: 30px ;
    margin-right: 10px;
}

body {
    font-family: "Fira Code" , monospace;
}